body {
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg {
  width: 100%;
  min-height: 100vh;
  background-image:url(/image/6361.jpg);
  position: absolute;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(50px);
}

.abc{
  font-size: 5rem;
  color: white;
  transition: all 1s;
}

.xyz{
  font-size: 5rem;
  color: red;
  transition: all 1s;
}